<div class="tw-grid tw-p-10">
  <h2 class="tw-text-3xl tw-font-bold tw-leading-none tw-tracking-tight tw-py-5">
    Richieste in attesa di approvazione
  </h2>
  <app-request-modal (addRequest)="addRequest($event)"></app-request-modal>
  <div class="tw-grid tw-grid-cols-2" *ngIf="requests$ | async as requests; else noRequests">
    <div *ngIf="requests.length > 0; else noRequests">
      <app-request-item
        *ngFor="let request of requests"
        [request]="request"
        [user]="currentUser$ | async"
        (editRequest)="onEditRequest($event)"
        (deleteRequestEvent)="onDeleteRequest()">
      </app-request-item>
    </div>
  </div>
</div>

<ng-template #noRequests>
  <div class="tw-p-10 tw-text-center">
    <p class="tw-font-semibold">Nessuna richiesta in attesa di approvazione.</p>
  </div>
</ng-template>
