<dialog id="request_modal" class="tw-modal">
  <div class="tw-modal-box">
    <h3 class="tw-font-bold tw-text-xl">Nuova richiesta</h3>
    <div class="tw-mx-auto tw-text-center">
      <div class="tw-p-4 tw-m-auto">
        <label class="tw-label" for="category">Categoria</label>
        <select
          name="category"
          class="tw-select tw-select-primary tw-w-full"
          [(ngModel)]="category">
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.description }}
          </option>
        </select>
        <label class="tw-label" for="item">Oggetto</label>
        <input
          name="item"
          type="text"
          class="tw-input tw-input-bordered tw-w-full tw-mt-2"
          [(ngModel)]="item" />
        <label class="tw-label" for="quantity">Quantità</label>
        <input
          name="quantity"
          type="number"
          class="tw-input tw-input-bordered tw-w-full tw-mt-2"
          [(ngModel)]="quantity" />
        <label class="tw-label" for="unitPrice">Prezzo unitario (€)</label>
        <input
          name="unitPrice"
          type="number"
          class="tw-input tw-input-bordered tw-w-full tw-mt-2"
          [(ngModel)]="unitPrice" />
        <label class="tw-label" for="reason">Motivazione</label>
        <input
          name="reason"
          type="text"
          class="tw-input tw-input-bordered tw-w-full tw-mt-2"
          [(ngModel)]="reason" />
      </div>
    </div>
    <div class="tw-modal-action">
      <form method="dialog">
        <button class="tw-btn tw-btn-error tw-mx-2 tw-w-20" (click)="reset()">Annulla</button>
        <button
          [disabled]="
            category == '' ||
            category == undefined ||
            item == '' ||
            item == undefined ||
            quantity <= 0 ||
            unitPrice <= 0 ||
            reason == '' ||
            reason == undefined
          "
          class="tw-btn tw-btn-success tw-mx-2 tw-w-20"
          (click)="add()">
          OK
        </button>
      </form>
    </div>
  </div>
</dialog>
